<html lang="zh-cn" data-scheme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Search</title>
    <!--    <link rel="canonical" href="https://blog.leecq.cn/search/">-->
    <link rel="stylesheet" href="/dist/css/style.min.css">
    <meta property="og:title" content="Search">
    <meta property="og:type" content="article">
    <meta property="article:section" content="Page">
    <meta name="twitter:title" content="Search">
    <meta name="twitter:description" content="">
    <meta name="twitter:card" content="summary_large_image">
    <!--    <meta name="twitter:image" content="https://blog.leecq.cn/img/tag.png">-->
    <!--    <link rel="alternate" type="application/json" href="https://blog.leecq.cn/search/index.json">-->
    <!--    <link rel="preload" href="https://blog.leecq.cn/search/index.json" as="fetch" crossorigin="anonymous">-->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&amp;display=swap" type="text/css"
          rel="stylesheet">
</head>
<body class="template-search" style="transition: background-color 0.3s ease 0s;">
<script>
    (function () {
        const colorSchemeKey = 'StackColorScheme';
        if (!localStorage.getItem(colorSchemeKey)) {
            localStorage.setItem(colorSchemeKey, "auto");
        }
    })();
</script>
<script>
    (function () {
        const colorSchemeKey = 'StackColorScheme';
        const colorSchemeItem = localStorage.getItem(colorSchemeKey);
        const supportDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches === true;

        if (colorSchemeItem == 'dark' || colorSchemeItem === 'auto' && supportDarkMode) {
            document.documentElement.dataset.scheme = 'dark';
        } else {
            document.documentElement.dataset.scheme = 'light';
        }
    })();

</script>
<div class="container main-container flex on-phone--column extended">
    <aside class="sidebar left-sidebar sticky">
        <header class="site-info">

            <!--            <figure class="site-avatar">
                            TODO 文章来源聚合
            -->
        </header>
        <section class="widget archives">
            <div class="widget-icon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-infinity" width="24" height="24"
                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"></path>
                    <path d="M9.828 9.172a4 4 0 1 0 0 5.656 a10 10 0 0 0 2.172 -2.828a10 10 0 0 1 2.172 -2.828 a4 4 0 1 1 0 5.656a10 10 0 0 1 -2.172 -2.828a10 10 0 0 0 -2.172 -2.828"></path>
                </svg>
            </div>
            <h2 class="widget-title section-title">归档</h2>
            <div class="widget-archive--list">
                <div class="archives-year">
                    <a href="/archives/#2021">
                        <span class="year">2021</span>
                        <span class="count">5</span>
                    </a>
                </div>
                <div class="archives-year">
                    <a href="/archives/#2020">
                        <span class="year">2020</span>
                        <span class="count">1</span>
                    </a>
                </div>
                <div class="archives-year">
                    <a href="/archives/#2019">
                        <span class="year">2019</span>
                        <span class="count">5</span>
                    </a>
                </div>
                <div class="archives-year">
                    <a href="/archives/#2019">
                        <span class="year">2019</span>
                        <span class="count">5</span>
                    </a>
                </div>
                <div class="archives-year">
                    <a href="/archives/#2019">
                        <span class="year">2019</span>
                        <span class="count">5</span>
                    </a>
                </div>
                <div class="archives-year">
                    <a href="/archives/#2019">
                        <span class="year">2019</span>
                        <span class="count">5</span>
                    </a>
                </div>
                <div class="archives-year">
                    <a href="/archives/#2019">
                        <span class="year">2019</span>
                        <span class="count">5</span>
                    </a>
                </div>

            </div>
        </section>

        <ol class="menu" id="main-menu">

            <li id="dark-mode-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-toggle-left" width="24"
                     height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"></path>
                    <circle cx="8" cy="12" r="2"></circle>
                    <rect x="2" y="6" width="20" height="12" rx="6"></rect>
                </svg>


                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-toggle-right" width="24"
                     height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"></path>
                    <circle cx="16" cy="12" r="2"></circle>
                    <rect x="2" y="6" width="20" height="12" rx="6"></rect>
                </svg>
                <span>暗色模式</span>
            </li>
        </ol>
    </aside>
    <main class="main full-width">
        <form action="/search/" class="search-form"
              data-json="/dist/search/index.json">
            <p>
                <label>搜索</label>
                <input name="keyword" placeholder="输入关键词...">
                <button title="搜索">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <circle cx="10" cy="10" r="7"></circle>
                        <line x1="21" y1="21" x2="15" y2="15"></line>
                    </svg>
                </button>
            </p>

            <p>
            <div class="tagCloud-tags">

                <label class="font_size_6">时间
                    <select name="time">
                        <option value="all">全部</option>
                        <option value="year">年</option>
                        <option value="month">月</option>
                        <option value="day">日</option>
                    </select>
                </label>
                <!-- TODO 文章来源选择器 -->
                <label class="font_size_6">来源
                    <select name="source">
                        <option value="all">全部</option>
                        <option value="article">文章</option>
                        <option value="page">页面</option>
                    </select>
                </label>

            </div>

            </p>
        </form>

        <h3 class="search-result--title section-title"></h3>
        <div class="search-result--list article-list--compact"></div>

        <script>    window.searchResultTitleTemplate = "#PAGES_COUNT 个结果 （用时 #TIME_SECONDS 秒）"     </script>
        <script type="text/javascript" src="/dist/js/search.js" defer=""></script>
        <!-- 添加了一个 div 存取搜索结果 -->
    </main>
</div>
<script src="/dist/js/vibrant.min.js"
        integrity="sha256-5NovOZc4iwiAWTYIFiIM7DxKUXKWvpVEuMEPLzcm5/g=" crossorigin="anonymous" defer="false">
</script>
<script type="text/javascript" src="/dist/js/main.js" defer=""></script>
<script>(function () {
    const customFont = document.createElement('link');
    customFont.href = "https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap";

    customFont.type = "text/css";
    customFont.rel = "stylesheet";

    document.head.appendChild(customFont);
}());</script>
</body>
</html>